GridPane, AnchorPane, Pane {
    -fx-background-color: #e0ecff;
}

.productPane {
    -fx-background-color: #b5cef7;
    -fx-pref-height: 360;
    -fx-pref-height: 360;
    -fx-background-insets: 0, 1;
}

.brandPane {
    -fx-background-color: #d2e2fc;
}

/*.chart-symbol { /* solid circle
    -fx-background-color: rgba(245, 66, 69, 0.5);
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}*/

/*.default-color1.chart-symbol { /* solid square different colour
    -fx-background-color: rgba(66, 75, 254, 0.5);
    -fx-background-radius: 0px;
}*/